body{
    background-color:#fcfcfc;
}
.swiper-container {
    width: 100%;
    position: relative;
    height:4.5rem;
}
.carNumber h1{
    text-align: center;
    font-size:1.5rem;
    font-weight: bold;
    color:#696969;
    width:50%;
    overflow: hidden;
    height:4.5rem;
    line-height: 4.5rem;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%,-50%);	
    position: absolute;
    left: 50%;
    top: 50%;
}
.carNumber{
    width: 100% !important;
    height:4.5rem !important;
}
.btn{
    position: absolute;
    width:1.5rem;
    height:1.5rem;
    top:50%;
    transform: translateY(50%);
	-ms-transform: translateY(50%);		/* IE 9 */
	-webkit-transform: translateY(50%);	/* Safari and Chrome */
	-o-transform: translateY(50%);		/* Opera */
	-moz-transform: translateY(50%);
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
    -moz-background-size:100% 100%;
    background-size:100% 100%;

}
.swiper-button-next {
    right:50px;
}
.swiper-button-prev{
    left:50px;
}
.orderDetail{
    width: 95%;
    border: solid 1px #e2e1e2;
    margin: 0 auto;
    border-radius: 0.5rem;
}
.orderDetail .course{
    width: 100%;
    height: 7.25rem;
    background-color: #eeeeee;
    position: relative;
}
.orderDetail .course ul.statius{
    position: absolute;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		/* Opera */
	-moz-transform: translateX(-50%);
    width: 95%;
    overflow: hidden;
    zoom: 1;
    margin:1rem auto 0;
    display: block;
    overflow: hidden;
}
.orderDetail .course ul.statius li{
    float: left;
    color: #c8c8c8;
    font-weight: bold;
    margin:0 0.6rem;
    font-size: 1rem;
}
.orderDetail .course ul.statius li.current{
    color:#39d5b8;
}
.orderDetail .course .progressBar{
    width: 90%;
    height: 0.3rem;
    background-color:#c8c8c8;
    position: absolute;
    top:4rem;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		/* Opera */
	-moz-transform: translateX(-50%);
}
.orderDetail .course .progressBar .progressBarLength{
    width: 10%;
    height: 0.3rem;
    background-color:#39d5b8 ;
}
.orderDetail .course .progressBar img{
    width:2rem;
    margin-top:-22px;
    margin-left: 10%;
    left: 50%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		/* Opera */
	-moz-transform: translateX(-50%);

}

/**停车中状态  begin**/
.orderDetail .course .progressBar .progressBarLength.progressBarLength_stoping{
    width: 31%;
}
.orderDetail .course .progressBar img.car_img_stoping{
    margin-left: 28%;
}
/**停车中状态  end  **/


/**停车完毕状态  begin**/
.orderDetail .course .progressBar .progressBarLength.progressBarLength_stoping_done{
    width: 54%;
}
.orderDetail .course .progressBar img.car_img_stoping_done{
    margin-left: 51%;
}
/**停车完毕状态  end  **/


/**取车状态  begin**/
.orderDetail .course .progressBar .progressBarLength.progressBarLength_stoping_done_get{
    width: 73%;
}
.orderDetail .course .progressBar img.car_img_stoping_done_get{
    margin-left: 69%;
}
/**取车状态  end  **/


/**订单完成  begin**/
.orderDetail .course .progressBar .progressBarLength.progressBarLength_stoping_done_get_all{
    width: 94%;
}
.orderDetail .course .progressBar img.car_img_stoping_done_get_all{
    margin-left: 97%;
}
/**订单完成  end  **/




.orderDetail .course .data{
    width:4rem;
    bottom:-2rem;
    left: 50%;
    left: 50%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		/* Opera */
	-moz-transform: translateX(-50%);
    position: absolute;
}
.CarButler{
    text-align: center;
    margin: 3rem auto 0;
    border-bottom: solid 2px #eeeeee;
    width:95%;
    padding-bottom: 1rem;
}
.CarButler h1{
    color:#39d5b8;
    font-weight: bold;
    margin-top: .75rem;
}
.CarButler img{
    width:1.6rem;
    margin-right: 10px;
}
.orderMessage{
    padding: 1.25rem;
    font-size: 1rem;
    line-height: 1.5rem;
}
.orderMessage .blue{
    color:#39d5b8;
    font-weight: bold;
}
.orderMessage .orange{
    color:#f98000;
    font-weight: bold;
}
#swiper-container2 .swiper-slide{ margin-right: 0 !important;}

#img_swiper_contain{
    width: 100%;
    height:100%;
    position: relative;
}
#img_swiper_contain .swiper-container {
    width: 100%;
    height: 100%;
}
#img_swiper_contain .img_swiper_prev{
    left: 0px;
    background: url("../images/daiBo/left_va_pic.png") no-repeat;
    background-size:1rem;
    margin-left: 10px;

}
#img_swiper_contain .img_swiper_next{
    right: 0px;
    background: url("../images/daiBo/right_va_pic.png") no-repeat;
    background-size:1rem;
}
.btnCancel{
    background-color: #eeeeee;
    margin-top: 1rem;
}
.cancleOrder{
    width:95%;
    height:37px;
    text-align: center;
    background-color:#39d5b8;
    color: #fcfcfc;
    font-size:19px;
    line-height:37px;
    margin: 1rem auto;
    border-radius: 0.5rem;
    left: 50%;
    transform: translateX(-50%);
	-ms-transform: translateX(-50%);		/* IE 9 */
	-webkit-transform: translateX(-50%);	/* Safari and Chrome */
	-o-transform: translateX(-50%);		/* Opera */
	-moz-transform: translateX(-50%);	
    position: relative;
    outline: none;
    letter-spacing: 6px;
    font-weight: bold;
}
.no_data{
    display: none;
    position: absolute;
    top: 0%;
    left: 0%;
    background: url('../images/img_no_data.png') no-repeat center 86px;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-size: 100%;
    background-color: white;
}
.no_data_desc{
    text-align: center;
    position: relative;
    -webkit-transform:translateY(-50%);
    -ms-transform:translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 26%;
    font-size: 16px;
    color: #39d5b8;
}