<div id="actEight">
    <div class="container-fluid act_bac">
        <div class="head_title">
            非常感谢您参与此次答卷!
        </div>
        <div class="row cont">
            <div class="col-xs-12 bac_img">
                <div class="row addree">
                    <div class="col-xs-3 add_qy">
                        <img src="../images/active/juyuan_check.png" class="add_one">
                    </div>
                    <div class="col-xs-4 add_qy">
                        <img src="../images/active/zchy.png" class="add_two">
                    </div>
                    <div class="col-xs-5 add_qy">
                        <img src="../images/active/tydshy.png" class="add_three">
                    </div>
                </div>
                
                <div class="row txt_bord">
                    <input class="mobile" placeholder="请输入您的手机号码"/>
                </div>
                <div class="row txt_btn">

                </div>
            </div>
        </div>
    </div>
</div>