
<div id="actFour" class="act">
    <div class="container-fluid back">
        <div class="container-fluid">
            <div class="head_desc">
                <div class="head_title">
                    您怎么解决停车位问题?
                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7 actTwo_qi_one">
                            <div class="act_two_alert_one qi_comm">
                                <p class="act_two_alert_one_desc">
                                    土豪怕过谁，我有产权车位/月租车位
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-5 actTwo_p_one">
                            <img src="../images/active/4_man_1.png" class="actTwo_car_one">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-6 actTwo_p_two">
                    <img src="../images/active/4_money_2.png" class="actTwo_car_two">
                </div>
                <div class="col-xs-6 actTwo_qi_two">
                    <div class="actTwo_qi_cont">
                    <span class="actTwo_desc_two">
                        烦<br>
                        不止一辆车要<br>
                        要自己找车位
                    </span>
                    </div>

                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7 actTwo_qi_one">
                            <div class="act_two_alert_three qi_comm">
                                <p class="act_two_alert_three_desc">
                                    头疼，有1辆车要<br>
                                    社区周边兜圈子<br>
                                    找车位
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-5 actTwo_p_one">
                            <img src="../images/active/4_house_3.png" class="actTwo_car_one actThree_house">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>