<div id="actSeven">
    <div class="container-fluid act_bac">
        <div class="head_title">
            您喜欢什么样的社区上门服务?(多选)
        </div>
        <div class="row cont">
            <div class="col-xs-6">
                <img src="../images/active/zcw_1.png">
            </div>
            <div class="col-xs-6">
                <img src="../images/active/zxcyk_1.png">
            </div>
            <div class="container-fluid cont_dt">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="../images/active/smbywx_1.png">
                    </div>
                    <div class="col-xs-6">
                        <img src="../images/active/smxc_1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="../images/active/zcw_1.png">
                    </div>
                    <div class="col-xs-6">
                        <img src="../images/active/dj_1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="../images/active/dbnj_1.png">
                    </div>
                    <div class="col-xs-6">
                        <img src="../images/active/dbwz_1.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">
                        <img src="../images/active/dphphsp_1.png">
                    </div>
                    <div class="col-xs-6">
                        <img src="../images/active/dbsgclhlp_1.png">
                    </div>
                </div>

                <div class="row txt_inp">
                    <div class="txt_bord">
                        <textarea placeholder="请输入您需要的服务"></textarea>
                    </div>
                </div>
                
                <div class="row btn_tj">
                    <img src="../images/active/7_comment.png">
                </div>

                <div class="row footer">

                </div>
            </div>

        </div>
    </div>
</div>