<div class="active_bgc" id="actSix">
    <div id="actOne" class="act">
        <div class="container-fluid">
            <div class="head_desc">
                <div class="head_title">
                    你知道口袋停APP的以下功能吗？
                </div>
            </div>

            <div class="row act_img">
                <a href="#/home/actTwo">
                    <div class="col-xs-12">
                        <img src="../images/active/6_txt_1_wz.png" class="actOne_car_one">
                    </div>
                </a>
            </div>
            <div class="row act_img">
                <a href="#/home/actTwo">
                    <div class="col-xs-12">
                        <img src="../images/active/6_txt_2_wz.png" class="actOne_car_two">
                    </div>
                </a>
            </div>
            <div class="row act_img">
                <a href="#/home/actTwo">
                    <div class="col-xs-12">
                        <img src="../images/active/6_txt_3_wz.png" class="actOne_car_three">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
