
<div id="actThree" class="act">
    <div class="container-fluid back">
        <div class="container-fluid">
            <div class="head_desc">
                <div class="head_title">
                    当(菊园)社区里停不下,您停那里?
                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-6 actTwo_p_two">
                    <img src="../images/active/3_man_1.png" class="actTwo_car_two">
                </div>
                <div class="col-xs-6 actTwo_qi_two">
                    <div class="actTwo_qi_cont">
                    <span class="actTwo_desc_two">
                        我在马路边捡到一个车位,警察叔叔走过来,对我笑
                    </span>
                    </div>

                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-7 actTwo_qi_one">
                            <div class="act_two_alert_one qi_comm">
                                <p class="act_two_alert_one_desc">
                                    周边<br>
                                    商务楼地库,老子咬咬牙买了月租
                                </p>
                            </div>
                        </div>
                        <div class="col-xs-5 actTwo_p_one">
                            <img src="../images/active/3_man_2.png" class="actTwo_car_one">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row act_img">
                <div class="col-xs-6 actTwo_p_two">
                    <img src="../images/active/3_man_3.png" class="actTwo_car_two">
                </div>
                <div class="col-xs-6 act_qi_three">
                    <div class="actTwo_qi_cont">
                    <span class="actTwo_desc_two">
                        往里挤挤呗,<br>
                        社区犄角旮旯都利用
                        起来,刮插鹏我也认
                    </span>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>