<div class="container-fluid" id="report_pc">
    <div class="row">
        <div class="col-md-6 report_cont">
            <div class="row report_head">
                <div class="col-xs-6" ng-bind="todayDesc"></div>
                <div class="col-xs-6"  style="text-align: right"><span style="color: rgba(255, 7, 7, 0.58)" ng-bind="todayIncome"></span><span>元</span></div>
            </div>
            <div id="container"></div>
        </div>
        <div class="col-md-6 report_cont">
            <div class="row report_head">
                <div class="col-xs-6" ng-bind="weekDesc"></div>
                <div class="col-xs-6"  style="text-align: right"><span style="color: rgba(255, 7, 7, 0.58)" ng-bind="weekDate"></span><span>元</span></div>
            </div>
            <div id="line_container"></div>
        </div>
    </div>
</div>